[submodule "BurnCoastSim"]
	path = BurnCoastSim
	url = https://github.com/HEEV/BurnCoastSim.git
[submodule "CarDisplay"]
	path = CarDisplay
	url = https://github.com/HEEV/CarDisplay.git
[submodule "SensorHub"]
	path = SensorHub
	url = https://github.com/HEEV/SensorHub
[submodule "linux"]
	path = linux
	url = https://github.com/raspberrypi/linux
	shallow = true
[submodule "firmware"]
	path = firmware
	url = https://github.com/raspberrypi/firmware
	shallow = true
[submodule "busybox"]
	path = busybox
	url = https://git.busybox.net/busybox/
	shallow = true
[submodule "app/lvgl"]
	path = app/lvgl
	url = https://github.com/lvgl/lvgl/
